{% extends 'HauntedCheese/base.html' %}
{% load static %}

{% block title_block %}
	Sell you soul 
{% endblock %}

{% block body_block %}
<form method="post" action="{% url 'AddList' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="form-label">
                    TODO Label
                </label>
                {{item_form.title}}
            </div>
        </div>
    </div>
</form>
{% endblock %}