{% extends 'HauntedCheese/base.html' %}
{% load static %}

{% block title_block %}
    Main Spook
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <div class="table-responsive">
            <table class="table table-hover" style="color: aliceblue;">
                <thead>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Due</th>
                    <th>Status</th>
                    <th>Mark Complete</th>
                </thead>
                <tbody>
                    {% for todo in todo_list %}
                        <tr scope="row">
                            <td>{{todo.title}}</td>
                            <td>{{todo.description}}</td>
                            <td>{{ todo.due_time|date:"d M Y H:i" }}</td>
                            <td>
                                {% if todo.status == 0  %}
                                    Pending
                                {% else %}
                                    Complete
                                {% endif %}
                            </td>
                            <td>
                                {% if todo.status == 0 %}
                                    <form method = "POST" action="{% url 'HauntedCheese:index' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{todo.id}}" name="todoid">
                                        <button type="submit" class="btn btn-dark">Mark Complete</button>
                                    </form>
                                {% else %}
                                    Complete
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if failure %}
            <div id="spook">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function(){

                    
                });
            </script>
        {% endif %}
    {% endif %}
{% endblock %}