{% extends 'HauntedCheese/base.html' %}
{% load static %}

{% block title_block %}
    Main Spook
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table" style="color: aliceblue;">
                <thead>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Due</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for todo in todo_list %}
                        <tr>
                            <td>{{todo.title}}</td>
                            <td>{{todo.description}}</td>
                            <td>{{ todo.due_time|date:"d M Y H:i" }}</td>
                            <td>{{todo.status}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}