{% extends 'HauntedCheese/base.html' %}
{% load static %}

{% block title_block %}
    Main Spook
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <div class="table-responsive">
            <table class="table table-hover" style="color: aliceblue;">
                <thead>
                    <th scope="col">Task</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due</th>
                    <th scope="col">Status</th>
                </thead>
                <tbody>
                    {% for todo in todo_list %}
                        <tr scope="row">
                            <td>{{todo.title}}</td>
                            <td>{{todo.description}}</td>
                            <td>{{ todo.due_time|date:"d M Y H:i" }}</td>
                            <td>{{todo.status}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}