{% extends 'HauntedCheese/base.html' %}
{% load static %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	{% if not registered %}
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					<label class="form-label">
						<span style="color: maroon;">Sell your soul</span>
					</label>
				</div>
				<div class="form-group">

				</div>
			</div>
		</div>
	{% else %}
		<strong>You belong to me now!</strong>
		<a href="{% url 'HauntedCheese:index' %}">Return to the homepage.</a><br />
	{% endif %}
{% endblock %}
